<!-- SELECCIÓN DE SEMENA -->
<section class="week-selection">
    <div class="left" (click)="previousWeek()"><i class="fa-solid fa-angle-left"></i></div>
    <div class="week-name">{{weeklyCalendar.weekName()}}</div>
    <div class="right" (click)="nextWeek()"><i class="fa-solid fa-angle-right"></i></div>
</section>
<!-- CALENDARIO DE LA SEMANA -->
<section class="calendar">
    <!-- EJE TEMPORAL -->
    <section class="temporal-edge">
        <div class="hour">
            Hora
        </div>
        <div *ngFor="let hour of hourLabels" class="hour">
            {{hour}}
        </div>
    </section>

    <!-- DÍAS DE LA SEMANA -->
    <section *ngFor="let dayOfWeek of weeklyCalendar.days" class="day-of-week">
        <div class="day-header">
            <div class="day-name">{{dayOfWeek.dayOfWeek()}}</div>
            <div class="day-number">{{dayOfWeek.dayOfMonth()}}</div>
        </div>
        <div *ngFor="let person of dayOfWeek.hours; let i = index" class="container">
            <div *ngIf="person.name != ''" [ngClass]="selectClass(dayOfWeek, i)" [ngStyle]="{'background-color': person.color}">
                <ng-container *ngIf="isAssignationStart(dayOfWeek, i)">{{ person.name }}</ng-container>
            </div>
            <div *ngIf="person.name == ''" class="empty-cell">
                <i class="fa-solid fa-plus" id="add-assignation-button" (click)="assignationDialog(dayOfWeek, i)"></i>
            </div>
        </div>
    </section>
</section>

<app-dialog [init]="initIndex" [end]="endIndex" [day]="dayIndex" (onAssignation)="assign($event)" #dialog></app-dialog>